body{
  height:100vh;
}

.avatar{
height:75px;
padding:20px;
background-color:#02a024;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}

.avatar img{
  border: 5px solid #860365;
  border-radius:10px;
}

.avatar span{
  position:absolute;
  color:#860365;
  bottom:0px;
  left:30px;
  top:390px;
  font-weight: bold;
  font-size:25px;
  font-family:Arial,sans-serif;

}

.area{
  display: grid;  
  grid-template-areas: 
      "counterArea  counterArea counterArea counterArea"
      "inputArea  inputArea  inputArea inputArea"
      "gorjetaArea  gorjetaArea  gorjetaArea gorjetaArea"
      "modalArea modalArea modalArea modalArea";
 
width:100%;
}

@media(min-width:425px) and (max-width:770px){
  .area{
    display: grid;  
    grid-template-areas: 
      "counterArea  counterArea counterArea counterArea"
      "inputArea  inputArea  inputArea inputArea"
      "gorjetaArea  gorjetaArea  gorjetaArea gorjetaArea"
      "modalArea modalArea modalArea modalArea";
    grid-template-columns: repeat(auto-fill, 186px);
    grid-template-rows: 50px auto auto;
    grid-auto-columns: auto; 
    grid-column-gap: 6px;
    grid-row-gap:6px;

  }

  .modalArea{
    position:relative;
    left:300px;
    width:25%;
  }
}

.inputArea{
  margin-bottom:15px;
  width:95.3%;
  height:265px;
  padding:15px;
  grid-area: inputArea;
  border:1px solid #328C07;
  background-image:radial-gradient(#7EFF40,#328C07);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counterArea{
  margin-bottom:15px;
  width:95.3%;
  height:265px;
  padding:15px;
  grid-area: gorjetaArea;
  border:3px solid #cfa20f;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:radial-gradient(#FFD340,#cfa20f);

 
}

.gorjetaArea{
  margin-bottom:15px;
  width:95.3%;
  height:465px;
  padding:15px;
  grid-area: gorjetaArea;
  border:3px solid #008F88;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:radial-gradient(#00E0D3,#008F88);
}
.modalArea{
  margin-bottom:15px;
  width:95.3%;
  height:265px;
  padding:15px;
  grid-area: gorjetaArea;
  border:3px solid #008F88;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:radial-gradient(#00E0D3,#008F88);
}

.counterArea h1{
    color:#00138C;
    font-size:32px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

.btn {
  outline:0;
  border:3px solid black;
  background-color:transparent;
  font-weight: bold;
  font-size: 18px;
  padding:15px;
}

.btn-primary {
  border:3px solid rgb(9, 9, 179);
  color:rgb(9, 9, 179);
}

.btn-primary:hover{
  background-color:rgb(9, 9, 179);
  color:white;
  cursor:pointer;
}

.form-horizontal{
  display:flex;
  flex-direction:column;
  width:100%;
}

.form-horizontal input{
  padding:10px;
  margin-bottom:50px;
  outline:0;
  font-family: "Helvetica Neue",Helvetica,Arial;
  font-size: 25px;
}

.form-horizontal button{
  padding:15px;
  font-weight: bold;
  font-size:25px;
  width:50%;
  margin-left:25%;
  outline:0;
  background-color:red;
  border:none;
  color:white;
  border-radius:10px;
  cursor:pointer;
}

.form-horizontal button:hover{
  background-color:rgb(236, 36, 36);

}

::-webkit-scrollbar{
  width:15px;
  background-color:rgb(87, 9, 87);
}

::-webkit-scrollbar-thumb{
  background-color:rgb(13, 144, 24);
}

header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  max-width:100%;
  margin-bottom:20px;
}

header nav ul {
  display:flex;
  align-items:center;
  width:100%;
}

header nav ul li {
  margin-right:50px;
  list-style: none;
  

}

header nav ul li a{
  text-decoration: none;
  font-size:25px;
  font-weight: bold;
  color:black;
  cursor:pointer;
  font-family: "Helvetica Neue",Helvetica,Arial;
}