.avatar{
height:75px;
padding:20px;
background-color:#02a024;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}

.avatar img{
  border: 5px solid #860365;
  border-radius:10px;
}

.avatar span{
  position:absolute;
  color:#860365;
  bottom:0px;
  left:30px;
  top:390px;
  font-weight: bold;
  font-size:25px;
  font-family:Arial,sans-serif;

}

.area{
  display: grid;  
  grid-template-areas: 
      "counterArea  inputArea  gorjetaArea"
      "counterArea  inputArea  gorjetaArea"
      "counterArea  inputArea  gorjetaArea";
      grid-template-columns: 0px 500;
  grid-template-rows: auto 100px;
  grid-auto-columns: auto; 
}

@media(min-width:425px) and (max-width:700px){
  .area{
    display: grid;  
    grid-template-areas: 
        "counterArea  counterArea  counterArea"
        "inputArea  inputArea inputArea  "
        "gorjetaArea gorjetaArea gorjetaArea";
        grid-template-columns: auto;
    grid-template-rows: auto ;
    grid-auto-columns: auto; 

  }
}

.inputArea{
  margin:auto;
  margin-bottom:15px;
  width:500px;
  height:465px;
  padding:15px;
  grid-area: inputArea;
  border:1px solid #328C07;
  background-image:radial-gradient(#7EFF40,#328C07);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counterArea{
  margin-bottom:15px;
  width:500px;
  padding:15px;
  grid-area: counterArea;
  border:3px solid #cfa20f;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:radial-gradient(#FFD340,#cfa20f);

 
}

.gorjetaArea{
  margin-bottom:15px;
  width:490px;
  padding:15px;
  grid-area: gorjetaArea;
  border:3px solid #008F88;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:radial-gradient(#00E0D3,#008F88);
}

.counterArea h1{
    color:#00138C;
    font-size:32px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial;
}